body{
    background-color: blueviolet;
}

.container{
    display:flex;
    flex-wrap: wrap;
  

}

.grid{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid;
}
